a.gitLink.navbar-link.navbar-right {
    padding: 15px;
    display: inline-block;
    line-height: 20px;
    color: #03A9F4;
}
a.gitLink.navbar-link.navbar-right:hover, a.gitLink.navbar-link.navbar-right:focus{
	text-decoration: none;
	color: white;
}
